<p>
    Buenas,
    Hemos recibido una solicitud de reestablecer su contraseña de Eventic. Si ha sido usted, pulse al siguiente enlace para reestablecerla:
    <%= link_to "Pulse aquí",
</p>
<p>
    Si no ha sido usted, ignore este corrreo.
</p>
<p> 
    Muchas gracias
</p>
<p> 
    Equipo Eventic.
</p>

